In [1]:
import json
import pandas as pd
import os

In [10]:
def json_to_dataframe(json_directory):
    data_table = []

    for file_name in os.listdir(json_directory):
        if file_name.endswith('.json'):
            file_path = os.path.join(json_directory, file_name)
            
            with open(file_path, 'r') as file:
                value = json.load(file)
            
 
            if 'data' in value:
                row_data = {
                    'id': value['id'],
                    'operation': value['op'],
                    'timestamp': value['ts'],
                    **value['data']
                }
            elif 'set' in value:
                row_data = {
                    'id': value['id'],
                    'operation': value['op'],
                    'timestamp': value['ts'],
                }
                row_data.update(value['set']) 
            
            data_table.append(row_data)


    data_frame = pd.DataFrame(data_table)
    
    return data_frame

In [11]:
df_accounts = json_to_dataframe('/Users/pinjammodal3/Downloads/dwh-coding-challenge/data/accounts')
df_cards = json_to_dataframe('/Users/pinjammodal3/Downloads/dwh-coding-challenge/data/cards')
df_savingacc = json_to_dataframe('/Users/pinjammodal3/Downloads/dwh-coding-challenge/data/savings_accounts')

In [22]:
# 1.Visualize the complete historical table view of each tables in tabular format in stdout 
print('Accounts:')
print(df_accounts)
print('Cards:')
print(df_cards)
print('Saving Accounts:')
print(df_savingacc)

Accounts:
           id operation      timestamp savings_account_id card_id  \
0  a1globalid         u  1577890800000                sa1     NaN
1  a1globalid         u  1577926800000                NaN      c1
2  a1globalid         u  1579163400000                NaN      c2
3  a1globalid         u  1579078860000                NaN
4  a1globalid         u  1577865600000                NaN     NaN
5  a1globalid         c  1577863800000                NaN     NaN
6  a1globalid         u  1577894400000                NaN     NaN

  phone_number account_id     name   address                    email
0          NaN        NaN      NaN       NaN                      NaN
1          NaN        NaN      NaN       NaN                      NaN
2          NaN        NaN      NaN       NaN                      NaN
3          NaN        NaN      NaN       NaN                      NaN
4     87654321        NaN      NaN       NaN                      NaN
5     12345678         a1  Anthony  New York     anthony@somebank.com
6          NaN        NaN      NaN   Jakarta  anthony@anotherbank.com
Cards:
           id operation      timestamp card_id card_number  credit_used  \
0  c1globalid         c  1577926800000      c1    11112222          0.0
1  c2globalid         c  1579163400000      c2    12123434          0.0
2  c1globalid         u  1579078800000     NaN         NaN          NaN
3  c1globalid         u  1578654000000     NaN         NaN          0.0
4  c1globalid         u  1578159000000     NaN         NaN          NaN
5  c2globalid         u  1579298400000     NaN         NaN          NaN
6  c2globalid         u  1579361400000     NaN         NaN      37000.0
7  c1globalid         u  1578313800000     NaN         NaN      12000.0
8  c1globalid         u  1578420000000     NaN         NaN      19000.0

   monthly_limit   status
0        30000.0  PENDING
1        70000.0  PENDING
2            NaN   CLOSED
3            NaN      NaN
4            NaN   ACTIVE
5            NaN   ACTIVE
6            NaN      NaN
7            NaN      NaN
8            NaN      NaN
Saving Accounts:
            id operation      timestamp savings_account_id  balance  \
0  sa1globalid         c  1577890800000                sa1      0.0
1  sa1globalid         u  1578159060000                NaN      NaN
2  sa1globalid         u  1579298460000                NaN      NaN
3  sa1globalid         u  1578648600000                NaN  40000.0
4  sa1globalid         u  1579078860000                NaN      NaN
5  sa1globalid         u  1578654000000                NaN  21000.0
6  sa1globalid         u  1579505400000                NaN  33000.0
7  sa1globalid         u  1577955600000                NaN  15000.0

   interest_rate_percent  status
0                    1.5  ACTIVE
1                    3.0     NaN
2                    4.0     NaN
3                    NaN     NaN
4                    1.5     NaN
5                    NaN     NaN
6                    NaN     NaN
7                    NaN     NaN

In [57]:
import sqlite3
conn = sqlite3.connect(':memory:')  # Creates an in-memory SQLite database
df_accounts.to_sql('accounts', conn, index=False)
df_cards.to_sql('cards', conn, index=False)
df_savingacc.to_sql('saving_accounts', conn, index=False)

8

In [86]:
# 2. Visualize the complete historical table view of the denormalized joined table in stdout by joining these three tables
print('Historical Accounts & Cards')
query = '''with source1 as (SELECT accounts.timestamp at,cards.timestamp ct,accounts.*,cards.*
        FROM accounts
        left join cards on cards.timestamp=accounts.timestamp order by accounts.timestamp asc),
        source2 as (SELECT accounts.timestamp at,cards.timestamp ct,accounts.*,cards.*
        FROM cards
        left join accounts on cards.timestamp=accounts.timestamp order by accounts.timestamp asc),
        source as (select * from source1 union all select * from source2)
        select distinct *
        from source
'''
result_df = pd.read_sql_query(query, conn)
print(result_df)
print('Historical Accounts & Saving Accounts')
query2 = '''with source1 as (SELECT accounts.timestamp at,saving_accounts.timestamp ct,accounts.*,saving_accounts.*
        FROM accounts
        left join saving_accounts on saving_accounts.timestamp=accounts.timestamp order by accounts.timestamp asc),
        source2 as (SELECT accounts.timestamp at,saving_accounts.timestamp ct,accounts.*,saving_accounts.*
        FROM saving_accounts
        left join accounts on saving_accounts.timestamp=accounts.timestamp order by accounts.timestamp asc),
        source as (select * from source1 union all select * from source2)
        select distinct *
        from source
'''
result_df2 = pd.read_sql_query(query2, conn)
print(result_df2)

Historical Accounts & Cards
              at            ct          id operation     timestamp  \
0   1.577864e+12           NaN  a1globalid         c  1.577864e+12
1   1.577866e+12           NaN  a1globalid         u  1.577866e+12
2   1.577891e+12           NaN  a1globalid         u  1.577891e+12
3   1.577894e+12           NaN  a1globalid         u  1.577894e+12
4   1.577927e+12  1.577927e+12  a1globalid         u  1.577927e+12
5   1.579079e+12           NaN  a1globalid         u  1.579079e+12
6   1.579163e+12  1.579163e+12  a1globalid         u  1.579163e+12
7            NaN  1.579079e+12        None      None           NaN
8            NaN  1.578654e+12        None      None           NaN
9            NaN  1.578159e+12        None      None           NaN
10           NaN  1.579298e+12        None      None           NaN
11           NaN  1.579361e+12        None      None           NaN
12           NaN  1.578314e+12        None      None           NaN
13           NaN  1.578420e+12        None      None           NaN

   savings_account_id card_id phone_number account_id     name   address  \
0                None    None     12345678         a1  Anthony  New York
1                None    None     87654321       None     None      None
2                 sa1    None         None       None     None      None
3                None    None         None       None     None   Jakarta
4                None      c1         None       None     None      None
5                None                 None       None     None      None
6                None      c2         None       None     None      None
7                None    None         None       None     None      None
8                None    None         None       None     None      None
9                None    None         None       None     None      None
10               None    None         None       None     None      None
11               None    None         None       None     None      None
12               None    None         None       None     None      None
13               None    None         None       None     None      None

                      email        id:1 operation:1   timestamp:1 card_id:1  \
0      anthony@somebank.com        None        None           NaN      None
1                      None        None        None           NaN      None
2                      None        None        None           NaN      None
3   anthony@anotherbank.com        None        None           NaN      None
4                      None  c1globalid           c  1.577927e+12        c1
5                      None        None        None           NaN      None
6                      None  c2globalid           c  1.579163e+12        c2
7                      None  c1globalid           u  1.579079e+12      None
8                      None  c1globalid           u  1.578654e+12      None
9                      None  c1globalid           u  1.578159e+12      None
10                     None  c2globalid           u  1.579298e+12      None
11                     None  c2globalid           u  1.579361e+12      None
12                     None  c1globalid           u  1.578314e+12      None
13                     None  c1globalid           u  1.578420e+12      None

   card_number  credit_used  monthly_limit   status
0         None          NaN            NaN     None
1         None          NaN            NaN     None
2         None          NaN            NaN     None
3         None          NaN            NaN     None
4     11112222          0.0        30000.0  PENDING
5         None          NaN            NaN     None
6     12123434          0.0        70000.0  PENDING
7         None          NaN            NaN   CLOSED
8         None          0.0            NaN     None
9         None          NaN            NaN   ACTIVE
10        None          NaN            NaN   ACTIVE
11        None      37000.0            NaN     None
12        None      12000.0            NaN     None
13        None      19000.0            NaN     None

In [99]:
# 3.From result from point no 2, discuss how many transactions has been made, when did each of them occur, and how much the value of each transaction?  
selected_rows_df = result_df.loc[result_df['credit_used'] > 0, ['at', 'ct', 'operation:1', 'credit_used']]
print("total credit used:")
print(selected_rows_df)
# 3.From result from point no 2, discuss how many transactions has been made, when did each of them occur, and how much the value of each transaction?  
selected_rows_df2 = result_df2.loc[result_df2['balance'] > 0, ['at', 'ct', 'operation:1', 'balance']]
print("\n total balance change:")
print(selected_rows_df2)

total credit used:
    at            ct operation:1  credit_used
11 NaN  1.579361e+12           u      37000.0
12 NaN  1.578314e+12           u      12000.0
13 NaN  1.578420e+12           u      19000.0

 total balance change:
    at            ct operation:1  balance
9  NaN  1.578649e+12           u  40000.0
10 NaN  1.578654e+12           u  21000.0
11 NaN  1.579505e+12           u  33000.0
12 NaN  1.577956e+12           u  15000.0